astropy
bottleneck
cartopy
chardet  # docs
cftime
cython
dateperiods @ git+https://github.com/shendric/dateperiods.git@main#egg=dateperiods
dateutils
flake8
geopy
h5py
isort
loguru
lxml
isort
matplotlib
mypy
netCDF4
numpy
pillow
pandas
parse
psutil
pydantic
pydantic-yaml
pykdtree
pyproj
pyresample
pyshp
python-dateutil
pyyaml
scipy
scikit-learn
shapely
setuptools
Sphinx
sphinx-automodapi
sphinx_rtd_theme
sphinxcontrib-mermaid
statsmodels
torch
xarray
xmltodict
packaging
pytz
